{% extends 'templates/feed.html' %}
{% load static %}
{% block content %}

<div id="wrapper ov" style="margin-top: 100px;"></div>
<div>
    <div style="display: flex; gap: 100px;">
        <div>
            <div class="job-title">{{ job_posting.job_title }}</div>
            <div class="job-company-name">{{ job_posting.company_name }}</div>
            <div>{{ job_posting.job_location }} ({{ job_posting.workplace }})</div>
        </div>
        <div ><a href="{%url 'alljobapplicants' job_posting.id%}"><button class="applicatebtn">view Applicant</button></a></div>
    </div>
<div>{{ job_posting.description|linebreaks }}</div>
<div>
    <h3>Applicants for this job:</h3>
    {% if applications %}
        <ul>
            {% for application in applications %}
                <li>
                    <strong>{{ application.user.username }}</strong> - {{ application.status }}
                    <p>{{ application.cover_letter|linebreaks }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No applications yet for this job.</p>
    {% endif %}
</div>
</div>


{%  endblock %}